<h1>All Photos</h1>
<% @list_of_photos.each do |photo| %>

<div class="">

<img src="<%=photo.source%>" alt="">
<p>
  <%= photo.caption %>
</p>

<div class="">
<a href="http://localhost:3000/photos/<%=photo.id %>">Detail</a>
<a href="http://localhost:3000/photos/<%=photo.id %>/edit">Edit</a>

<a href="http://localhost:3000/delete_photo/<%=photo.id%>">Delete</a>

</div>



</div>
<% end %>
